---
---

.open-games-1999 {
	font-family:  "Helvetica Neue LT Std", sans-serif;
	background: linear-gradient(#445478, #a09de4);

	.header {
		font-size: 3em;
		color: #c7ced4;
		width: min-content;
		margin-left: auto;

		&::before {
			content: "....";
			margin-right: 0.3em;
			font-size: 1.5em;
		}
	}
	.games-list {
		margin-top: 1em;
		font-size: 2.5em;
		display: flex;
			flex-wrap: wrap;
			gap: .3em;

		.game-item {
			background-color: #c9c8c4;
			position: relative;
			display: flex;
			padding: .1em;
			gap: .1em;



			 border: 2px solid;
			border-top-color: white;
			border-right-color: black;
			border-bottom-color: black;
			border-left-color: white;


			@for $n from 1 through 10 {
				&:nth-child($n)::before {
					content: "{{n}}";
					margin-bottom: auto;
				}

			img {
				width: 150px;
			}

			.game-title {
				font-size: .6em;
				text-shadow: 4px 4px 3px black;
				width: 150px;
				position: absolute;
				bottom: 0;
				right: 0;
				color: white;
				text-align: center;
			}


		}
	}

	.open-bar {
		margin-top: 3em;
	}
}


.open-bar {
	background-color: #c9c8c4;
	opacity: 50%;

	display: flex;
    justify-content: space-around;

	border: 2px solid;
	border-top-color: white;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: white;

	h1 {
		justify-self: flex-start;
		font-weight: unset;
	}

	a {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
		padding-top: .5em;

		&::before {
			justify-self: flex-start;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		}
		&::after {
			content:"";
			flex:1;
		}
	}
}

.controls {
	display: none;
}
}